/*
*{
    color: red;
}*/
a[href="#About us"]{
    color: brown;
}

a[href="#Skills"]{
    color: blue;
}

a[href="#Portfolio"]{
    color: yellow;
}

a[href="#Contact"]{
    color: green;
}

section[name="o nas"]{
    background-color: yellow;
}

div{
     width: 300px;
     height: 300px;
     display: inline-table;
}

 div[name="kwadrat 1"]{
     color: blue;
     background-color: blue;
}

div[name="kwadrat 2"]{
     color: red;
     background-color: red;
}

div[name="kwadrat 3"]{
     background-color: black;
}

div[name="kwadrat 4"]{
     color: green;
     background-color: green;
}

div[name="Portfolio 1"]{
    color: white;
    background-color: white;
    display: block;
    border: 5px solid blue;
}

div[name="Portfolio 2"]{
    color: white;
    background-color: white;
    display: block;
    border: 5px solid green;
}

div[name="Portfolio 3"]{
    color: white;
    background-color: white;
    display: block;
    border: 5px solid grey;
}