/*
*{
    color: red;
}*/
a[href="#About us"]{
    color: brown;
}

a[href="#Skills"]{
    color: blue;
}

a[href="#Portfolio"]{
    color: yellow;
}

a[href="#Contact"]{
    color: green;
}

section[name="o nas"]{
    background-color: yellow;
}